.main-content-of-dashboard {
  flex: 1;
  overflow-y: auto;
  margin-top: 5rem;
  transition: all 0.3s ease;
  /* background-color: bisque; */
  height: 88vh;
}

/* Sidebar transitions */
.sidebar-transition {
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar-closed {
  width: 0;
}

/* Sidebar widths */
.sidebar-open {
  width: 260px;
  padding: 10px;
}

/* Tablet View: Shrink sidebar */
@media (max-width: 1000px) and (min-width: 701px) {
  .sidebar-open {
    width: 108px;
  }
   .main-content-of-dashboard.sidebar-closed {
    padding-left: 80px;
    padding-right: 1rem;
  }
}

/* Mobile View: Always close sidebar */
@media (max-width: 699px) {
  .sidebar-open {
    width: 0 !important;
  }
  .main-content-of-dashboard {
    padding-bottom: 60px;
  }
}



/* Adjust padding for main content when sidebar is closed on desktop */
@media (min-width: 705px) {
  .main-content-of-dashboard.sidebar-closed {
    padding-left: 90px;
    padding-right: 1rem;
  }
}

/* Tablet content padding */
@media (min-width: 701px) and (max-width: 1000px) {
  .main-content-of-dashboard {
    padding-left: 8rem;
  }
}
