.sidebar {
  width: 300px;
  height: calc(100vh - var(--header-height));
  background-color: whitesmoke;
  position: fixed;
  left: 0;
  top: var(--header-height);
  overflow-y: auto;
  transition: var(--transition);
  z-index: 90;
}

.sidebar-menu-title {
  display: flex;
  font-size: 1.4rem;
  padding: 25px;
  color: var(--light-text);
  /* background-color: rgb(183, 255, 0); */
  width: 100px;
  height: 10px;
  align-items: center;
  margin-top: 10px;
}

.sidebar-menu-h2 {
  margin-top: 25px;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(6, 6, 115);
}

.menu-ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* background-color: brown; */
  width: 270px;
  margin-left: 25px;
  gap: 10px;
  /* margin-top: 10px; */
}

.menu-ul li {
  display: flex;
  align-items: center;
  color: var(--light-text);
  text-decoration: none;
  transition: var(--transition);
  margin-top: -15px;
  font-size: 1.1rem;
  font-weight: 500;
  /* background-color: sandybrown; */
}

/* dropdown styles of users*/

.dropdown-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-left: 10px;
  gap: 10px;
  color: inherit;
  width: 250px;
  text-decoration: none;
  /* background-color: bisque; */
}

.dropdown-header:hover {
  background-color: rgba(10, 2, 2, 0.1);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  /* background-color: rgba(231, 21, 21, 0.1); */
  border-radius: 4px;
  overflow: hidden;
  width: 200px;
  margin-left: 30px;
}

.dropdown-item {
  display: block;
  padding: 10px 10px 10px 30px;
  color: inherit;
  text-decoration: none;
  font-size: 0.9em;
  margin-left: 5px;
  gap: 10px;
}

.dropdown-item:hover {
  background-color: rgba(11, 32, 115, 0.1);
}

/* End of dropdown styles */

.menu-span {
  font-size: 1.2rem;
  flex-grow: 1;
  color: black;
}

.menu-Home {
  margin-left: 8px;
  font-size: 1.2rem;
  color: black;
  /* margin-bottom: -10px; */
  /* background-color: brown; */
}

/* dark-mode css */

.app.dark-mode .sidebar {
  background-color: var(--dark-sidebar);
}

.app.dark-mode .dropdown-header {
  color: var(--dark-text);
}

.app.dark-mode .dropdown-item {
  color: var(--dark-text);
}

.app.dark-mode .menu-span,
.app.dark-mode .menu-Home {
  color: var(--dark-text) !important;
}

.sidebar.collapsed {
  width: var(--sidebar-collapsed-width);
  padding: 0;
  margin: 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 15px 0;
}

.sidebar nav ul li a {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: var(--light-text);
  text-decoration: none;
  transition: var(--transition);
}


.sidebar nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.app.dark-mode .sidebar nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar nav ul li a .icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sidebar.collapsed nav ul li a .icon {
  /* display: flex; */
  /* margin-right: 15px; */
  font-size: 1.5rem;
  /* background-color: bisque; */
}

.sidebar.collapsed nav ul li a span {
  display: none;
}


/* ______wallet transaction css____ */

.sidebar-wallet-title {
  display: flex;
  font-size: 1.4rem;
  padding: 25px;
  color: var(--light-text);
  /* background-color: rgb(183, 255, 0); */
  width: 290px;
  height: 10px;
  align-items: center;
  margin-top: -10px;
}

.sidebar-wallet-h2 {
  /* margin-top: -15px; */
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(6, 6, 115);
}

.transaction-li {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* background-color: brown; */
  width: 270px;
  height: 30px;
  margin-left: 12px;
  margin-top: -18px;
  gap: 15px;
  /* background-color: rgb(211, 105, 105); */
  justify-content: center;
}

.transaction-span {
  color: black;
  font-size: 1.2rem;
}

.app.dark-mode .sidebar nav ul li .transaction-span {
  color: var(--dark-text);
}